{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-container">
    <!-- Loader -->
    <div id="site-loader" class="load-complete">
        <div class="loader">
            <div class="loader-inner ball-clip-rotate">
                <div></div>
            </div>
        </div>
    </div><!-- Loader /- -->


    <main>

        <!-- Page Banner -->
        <div class="container-fluid no-padding page-banner">
            <!-- Container -->
            <div class="container">

                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Басты бетке өту</a></li>
                    </ol>

                </div>
            </div><!-- Container /- -->
        </div><!-- Page Banner /- -->

        <!-- Our History Section -->
        <div id="history-section" class="container-fluid no-padding history-section">
            <!-- Section Header -->

            <div class="col-md-12 no-padding history-details" style="margin-left:140px;margin-right:120px;">
                <div class="col-md-10 history-box">
                    <p>
                        Қазіргі уақытта Қазақстан мұражайларында өтіп жатқан мұражай коллекцияларын салыстыру көптеген
                        мұражайларда мұражай қорларын есепке алу мен сақтаудың жай-күйі қазіргі заманғы талаптарға
                        сәйкес келмейтінін көрсетеді. Мұндай жағдай тек біздің елде ғана байқалмайды. Бұл көбінесе ұзақ
                        уақыт бойы мұражайларда көптеген ескі жинақталмаған құжаттар мен бухгалтерлік кітаптар
                        жинақталғандығымен түсіндіріледі, көбінесе басталған және тасталған, күндер мен жазба авторларын
                        көрсетпей, бір-бірін ішінара қайталайды. "Бұл ретте мұражайларда қайта қарауды және жетілдіруді
                        талап ететін мұражай қорларының ескірген құрылымдары жиі жұмыс істейді. Осылайша, мұражай
                        қызметкерлері – фондовиктердің алдында мұражай заттарын есепке алу және сақтау жүйесін заманауи
                        талаптарға сәйкес келтіру міндеті тұр. Бұл мәселені шешу барысында мұражай қызметкерлері
                        мұражайда тарихи түрде қалыптасқан және кез-келген нұсқаулықта сипатталмаған көптеген стандартты
                        емес жағдайлардан шығудың жолдарын іздеуі және табуы керек, өйткені олар әр мұражайға ғана тән".
                    </p>
                    <p>
                        Сондай-ақ мұражай қорлары экспонент бойынша сандық және сапалық жағынан өсуді жалғастыруда, бұл
                        коллекцияларда сақталатын заттарды есепке алудың мүлдем басқа жүйесін пайдалануды көздейді.
                        Бұрын компьютерлер мен интернеттің біздің өмірімізге кеңінен енуіне дейін бұл мәселе қағаз
                        тасығыштарда (есепке алу карточкаларында, есепке алу кітаптарында және т.б.) жазбаларды жүргізу
                        арқылы шешілді. Бірақ ақпараттық-техникалық прогресс және компьютерлік технологиялар құнының
                        төмендеуі ақпаратты есепке алу және одан әрі сақтау мақсатында ақпараттық технологиялардың
                        мұражайларға біртіндеп интеграциялануына ықпал етті. Тиісінше, мұражай мекемесінде
                        мамандандырылған бағдарламалық жасақтаманы пайдалану қажеттілігі туындайды. Бірден сұрақ
                        туындайды, дайын өнімдерді пайдалану немесе мұражай коллекциялары туралы ақпаратты сақтаудың
                        басқа жүйесіне немесе басқаша айтқанда мәліметтер базасына тапсырыс беру. Қазіргі уақытта Ресей
                        нарығында мұражай коллекцияларының материалдары туралы ақпарат қоймасы ретінде пайдалануға
                        болатын бірнеше бағдарламалық өнімдер бар.
                    </p>

                </div>
            </div>
        </div><!-- Our History Section /- -->


    </main>


</div>
{% endblock content %}
