{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid no-padding contact-section">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row contact-details">
            <div class="col-md-4 col-sm-4 col-xs-6 cnt-detail">
                <i class="icon icon-User"></i>
                <div class="cnt-detail-box">
                    <h3>Аты-жөні</h3>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 cnt-detail">
                <i class="icon icon-Phone"></i>
                <div class="cnt-detail-box">
                    <h3>Телефон номер</h3>
                    <p>{{ user.users.phone }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 cnt-detail">
                <i class="icon icon-Mail"></i>
                <div class="cnt-detail-box">
                    <h3>Логин</h3>
                    <p>{{ user.username }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 cnt-detail">
                <i class="icon icon-Bag"></i>
                <div class="cnt-detail-box">
                    <h3>Жұмыс орын</h3>
                    <p>{{ user.users.museum.name }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 cnt-detail">
                <i class="icon icon-Pointer"></i>
                <div class="cnt-detail-box">
                    <h3>Лауазымы</h3>
                    <p>{{ user.users.position }}</p>
                </div>
            </div>
        </div><!-- Row /- -->

    </div><!-- Container /- -->
</div>
{% endblock content %}