{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images//apple-touch-icon-114x114-precomposed.png' %}">

	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images//apple-touch-icon-72x72-precomposed.png' %}">

	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="{% static 'images//apple-touch-icon-57x57-precomposed.png' %}">

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">

	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/lib.css' %}">

	<!-- Custom - Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navigation-menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcode.css' %}">
	<script src="{% static 'js/html5/respond.min.js' %}"></script>
</head>
<body>

{% include 'include/header.html' %}

{% block content %}


{% endblock content %}

{% include 'include/footer.html' %}


<!-- JQuery v1.12.4 -->
	<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

	<!-- Library - Js -->
	<script src="{% static 'libraries/lib.js' %}"></script>

	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js?rev=5.0' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js?rev=5.0' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

	<!-- Library - Theme JS -->
	<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>